<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Credit Card Validator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <<style type="text/css" media="screen">
    	.check{
    		background-color: #20C4C4;
    		color:#E53771;
    		padding: 10px;
    		font-size: 20px;
    	}
    	
    </style>
</head>
<body>
<div class="container">
    <h1 style="color:red;background-color:yellow;border: 1px solid #20C4C4; magin-top:10px;padding:5px;text-align: center;">Credit Card Validator</h1>
    <br>
    <br>
    <div class="check">
    	<p>The number goes here has been checked.</p>
        <p>{{result}}</p>
    </div>
    
</div>
</body>
</html>